# general directories
bin/**
build/**
CMakeFiles/**
**/__pycache__/**

#ignore romp model-checker gnerated trace files
**/traces/**
**/traces/*.json

# ignore generated test files
**/tests/**/*.*
# but don't ignore test models, scripts, docs, or test build config data
!**/tests/**/*.m
!**/tests/**/*.py
!**/tests/**/*.sh
!**/tests/**/*.zsh
!**/tests/**/*.txt
!**/tests/**/*.md
!**/tests/**/*.rst
!**/tests/**/*.eml
!**/tests/**/*.ipynb
!**/tests/**/makefile
!**/tests/makefile
!**/tests/heterogen/makefile
!scratch/*.test.cpp
!scratch/*.test.hpp
!scratch/*.test.py
!scratch/*.test.sh
!scratch/*.test.txt
!scratch/*.test.md
!scratch/*.test.rst
!**/README
!tests/config/**
!tests/murphi-comment-ls/*.cc

# debug files
*.test.cpp
*.test.hpp
*.test.cc
*.test.hh
*.test.h
*.test.c
*.test.C
*.test.H
*.test

# murphi generated c files
*.m.c
*.m.C
*.m.cc
*.m.cpp
*.m.h
*.m.H
*.m.hh
*.m.hpp
*.mu.c
*.mu.C
*.mu.cc
*.mu.cpp
*.mu.h
*.mu.H
*.mu.hh
*.mu.hpp
*.romp.c
*.romp.C
*.romp.cc
*.romp.cpp
*.romp.h
*.romp.H
*.romp.hh
*.romp.hpp
*.romp

/*.c
/*.C
/*.cc
/*.cpp
/*.h
/*.H
/*.hh
/*.hpp

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# yacc & lex/flex output files
*.yy.c
*.output
*.tab.c
*.tab.h


# vscode excludes
.vscode/*.log

# CMake ignores
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
